.h1 {
    text-align: left;
    justify-content: left;
}

.h3 {
    text-align: right;
    justify-content: right;
}

table {
    vertical-align: bottom;
    width: 100%;
}

#filler {
    width: 100%;
    text-align: right;
}

#wide {
    width: 800px;
}